*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 1em;
}
nav a:hover{
    color: blue;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: darkgray;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
}
li{
    font-family: "Work Sans", sans-serif;
}
li:nth-child(5){
    font-family: Montserrat, sans-serif;
    font-size: 3em;
    padding: .2em 0;
    justify-self: center;
}
