:root{
    --bg-info-color: lightsteelblue;
    --text-info-color: royalblue;
    --bg-success-color: darkseagreen;
    --text-success-color: darkgreen;
    --bg-warning-color: lightyellow;
    --text-warning-color: chocolate;
    --bg-error-color: indianred;
    --text-error-color: #8b0000;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border-radius: 10px;
    border: lightgrey 1px solid;
    padding: 10px;
    margin: 10px 0 10px;
}
.message-info{
    background-color: var(--bg-info-color);
    color: var(--text-info-color);
}

.message-success{
    background-color: var(--bg-success-color);
    color: var(--text-success-color);
}

.message-warning{
    background-color: var(--bg-warning-color);
    color: var(--text-warning-color);
}

.message-error{
    background-color: var(--bg-error-color);
    color: var(--text-error-color);
}